

.side{

    height: auto !important;
   height: 80vh !important;
   border-left: 1px solid #d3d2d2 ;
   transition: all;
}

.cc :hover{
       
    background-color: rgb(239, 239, 248)   !important;
    color: blue;
    border-radius: 10px;
   
    transition: 1s;
    cursor: pointer !important;;
}
.image{
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(207, 207, 207);
}