<div class="side bg-light ms-2 shadow">
    <ul class="nav flex-column">
        <li class="cc nav-item mt-2 ">
            
          <div class="d-flex justify-content-between p-2 m-2">
            <div>
             <span class="me-1" routerLink="main"><i class="fa-solid fa-list"></i> الرئيسية</span>  
            </div>
            <div><span class="me-3  p-2"><i class="fa-solid fa-chevron-left"></i></span></div>

          </div>
        </li>
        <li class="cc nav-item mt-2 ">
            
            <div class="d-flex justify-content-between p-2 m-2">
              <div>
               <span class="me-1" ><i class="fa-solid fa-square-check"></i> النماذج</span>  
              </div>
              <div><span class="me-3  p-2"><i class="fa-solid fa-chevron-left"></i></span></div>
  
            </div>
          </li>
          <li class="cc nav-item mt-2 ">
            
            <div class="d-flex justify-content-between p-2 m-2">
              <div>
               <span class="me-1" routerLink="main"><i class="fa-solid fa-users"></i> العملاء</span>  
              </div>
              <div><span class="me-3  p-2"><i class="fa-solid fa-chevron-left"></i></span></div>
  
            </div>
          </li>
          <li class="cc nav-item mt-2 ">
            
            <div class="d-flex justify-content-between p-2 m-2">
              <div>
               <span class="me-1" routerLink="main"><i class="fa-solid fa-sliders"></i> الاعدادات</span>  
              </div>
              <div><span class="me-3  p-2"><i class="fa-solid fa-chevron-left"></i></span></div>
  
            </div>
          </li>
          <li class="cc nav-item mt-2 ">
            
            <div class="d-flex justify-content-between p-2 m-2">
              <div>
               <span class="me-1" routerLink="main"><i class="fa-solid fa-square-check"></i> التكامل</span>  
              </div>
              <div><span class="me-3  p-2"><i class="fa-solid fa-chevron-left"></i></span></div>
  
            </div>
          </li>
          <li class="cc nav-item mt-2 ">
            
            
              
               <span class="me-3" > الدليل الارشادي</span>  
              
             
  
        
          </li>
                
       
       
     
      </ul>
</div>
