<nav>
    <div class="container-fluid ">
        <div class="row bg-light shadow ms-2 mt-2">
            <div class="col-md-6">
                <div class="d-flex  justify-content-between col-md-8">
                    <div><h2>نماذج</h2></div>
                    <div><input type="search" class="form-control p-2 m-2" placeholder="البحث"></div>
                </div>

            </div>
            <div class="col-md-6  mt-2">
                <div class=" d-flex justify-content-end col-md-12">
                    <div class=" me-3 "><i class="fa-regular fa-bell fs-3"></i></div>
                    <div class=" me-3"><i class="fa-regular fa-envelope fs-3"></i></div>
                    <div class="me-3"><img src="../../../../../../../../Front-End/E-Commerce/ECommercApp/src/assets/ecommerce-is-booming.png"  class="w-25 rounded-circle"></div>
                </div>

            </div>
        </div>
        <div class="side bg-light ms-2 shadow">
            <ul class="nav flex-column">
                <li class="nav-item d-flex justify-content-between">
                    
                  <a class="nav-link active text-body-secondary " routerLink="Home" routerLinkActive="active" >
                    <span><i class="fa-solid fa-list"> </i></span>
                  الرئيسية
                  </a>
                  <span class="me-2  p-2"><i class="fa-solid fa-left-long"></i></span>
                </li>
              
                <li class="nav-item d-flex justify-content-between mt-2">
                    
                    <a class="nav-link active text-body-secondary " >
                      <span><i class="fa-solid fa-users-gear"></i></span>
                    ألعملاء
                    </a>
                    <span class="me-2  p-2"><i class="fa-solid fa-left-long"></i></span>
                  </li>
                  <li class="nav-item d-flex justify-content-between mt-2">
                    
                    <a class="nav-link active text-body-secondary " >
                      <span><i class="fa-solid fa-sliders"></i></span>
                    الاعدادت
                    </a>
                    <span class="me-2  p-2"><i class="fa-solid fa-left-long"></i></span>
                  </li>
                  <li class="nav-item d-flex justify-content-between mt-2">
                    
                    <a class="nav-link active text-body-secondary " >
                      <span><i class="fa-solid fa-circle-chevron-up"></i></span>
                    التكامل
                    </a>
                    <span class="me-2  p-2"><i class="fa-solid fa-left-long"></i></span>
                  </li>
                  <li class="nav-item d-flex justify-content-between mt-2">
                    
                    <a class="nav-link active text-body-secondary " >
                      
                    الدليل الارشادي
                    </a>
                    <span class="me-2  p-2"><i class="fa-solid fa-left-long"></i></span>
                  </li>
                  
               
             
              </ul>
        </div>
    </div>
</nav>



 