<nav>
    <div class="container-fluid ">
        <div class="row bg-light shadow ms-2 mt-2">
            <div class="col-md-6 ">
                <div class="d-flex  justify-content-between col-md-12">
                    <div class="col-md-3  border-end-1"><img src="../../../../../assets/Asset 3 1.png" class="w-100 me-2" alt=""></div>
                    <div class="col-md-7 position-relative ">
                      <input type="search" class="form-control pb-2 m-1" placeholder="  البحث">
                      <i class="search fa-solid fa-magnifying-glass position-absolute"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-6    text-center">
                <div class=" d-flex justify-content-end col-md-12">
                    <div class=" ps-2 pt-3 "><i class="fa-regular fa-bell fs-5"></i></div>
                    <div class=" ps-2 pt-3 ms-1 "><i class="fa-regular fa-envelope fs-5"></i></div>
                    <div class="circle pe-2 mt-1  ms-1 bg-secondary  rounded-circle"></div>
                    <div class="pe-2 mt-1"><h6 class="m-0">موسي الزهراني </h6>
                    <p class="text-muted">مدير العلاقات العامة</p></div>
                </div>

            </div>
        </div>
        <hr class="mt-0 mb-0 ms-1 me-1">
       
    </div>
</nav>



 