.side{
    width: 15% !important;
    height: auto !important;
   height: 50% vh !important;
}
.side li:hover{
color: rgb(156, 156, 248) !important;

}
.side li a:hover{
    color: rgb(156, 156, 248) !important;
    cursor: pointer !important;;
    
    }